<!DOCTYPE html>
<html lang="ru" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #212529;
            color: #e9ecef;
        }
        .custom-file-input {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container card bg-dark border-secondary" style="width: 20%; display: flex; align-items: center; margin-top: 300px;">
        <div class="card-body">
            <h2 class="card-title text-light mb-2" style="text-align: center;">Вход</h2>
            <form id="regForm" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="to" class="form-label">Введите ваш ID</label>
                    <input type="text"style="width: 100%;" class="form-control bg-dark text-light border-secondary" id="tag" name="tag" placeholder="ваш уникальный индефикатор">
                </div>
                <button type="submit" class="btn btn-success">войти</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        let ip = ""

        fetch('/getIP/', {
            method: 'GET'
        }).then(response => response.json())
        .then(response => {
            ip = "http://" + response.ip + ":" + response.port
        })
        .catch(error => {});

        fetch('/autoreg/', {
            method: 'GET'
        }).then(response => response.json())
        .then(response => {
            if (response.hasinbd == 1){
                window.open(ip + "/doc", "_self")
            }else if (response.hasinbd == 0){
                window.open(ip + "/keyword", "_self")
            }
        })
        .catch(error => {});

        document.getElementById('regForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            fetch('/reg/', {
                method: 'POST',
                body: formData
            }).then(response => response.json())
            .then(response => {
                if (response.hasinbd == 1){
                    setCookie(response.n, response.ci, {secure: true, 'max-age': 60*60*24*365, 'log': 0})
                    window.open(ip + "/keyword", "_self")
                }else{
                    window.alert("Такого ID нет в доступе! Подойдите к администратору.")
                }
            })
            .catch(error => {});
        });

        function setCookie(name, value, options = {}) {

          options = {
            path: '/',
            ...options
          };
      
          if (options.expires instanceof Date) {
            options.expires = options.expires.toUTCString();
          }
      
          let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);
      
          for (let optionKey in options) {
            updatedCookie += "; " + optionKey;
            let optionValue = options[optionKey];
            if (optionValue !== true) {
              updatedCookie += "=" + optionValue;
            }
          }
      
          document.cookie = updatedCookie;
        }
    </script>
</body>
</html>
